main{
    border: solid 1px black;
}

.conteinaer-main{
    display: flex;
    justify-content: space-between;
}

.carteira-item-img:img{
    border: solid 1px rgb(159, 60, 60);
    width: 300px;
    height: 300px;
    border-radius: 55pxs;
}

.cateira-man{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}